body {
    margin: 0;
}

.form {
    font-size: 14px;
    margin: 10px;
    text-align: center;
}

.bemVindo {
    margin-top: 10px;
    font-size: 20px;
}

button {
    margin-top: 5px;
}

div {
    padding: 3px;
}